<div ng-controller="ContactListController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h3>Manage Contacts:</h3>
				<div style="text-align:right;">User's sessionid: {{sessionid}}</div>
				<div style="text-align:right;">Application Instance #: {{systemenv.CF_INSTANCE_INDEX}}</div>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Name</th>
							<th>Title</th>
							<th>Phone</th>
						</tr>
					</thead>
					<tbody>
						<!-- Display each entry in a row -->
						<tr ng-repeat="contact in contacts">
							<td><a href="#/contacts/e/{{contact.id}}"><img
									alt="update" src="../images/update.jpg"
									style="height: 16px; width: 16px;" /></a>&nbsp;&nbsp; <a
								href="#/contacts" ng-click="delete(contact.id); getContacts();"><img
									src="../images/delete.jpg" style="height: 16px; width: 16px;"
									alt="Delete" /></a></td>
							<td><a href="#/contacts/{{contact.id}}">{{contact.lastName}}, {{contact.firstName}}</a></td>
							<td>{{contact.title}}</td>
							<td>{{contact.phone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-include src="'/partials/footer.html'"></div>
	</div>
</div>
