<div ng-controller="EditContactInfoController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Contact Details</h2>
				<div>
					<a href="#/contacts">Back to Contact List</a>
				</div>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<!-- Display the contact detail form -->
				<form>
					<div class="form-group">
						<label for="id">ID:</label>
						<input type="text" id="id" class="form-control" ng-model="contact.id" value="{{contact.id}}" readonly="true"/>
					</div>
					<div class="form-group">
						<label for="firstName" class="text-danger">First Name:</label>
						<input type="text" id="firstName" class="form-control" ng-model="contact.firstName" value="{{contact.firstName}}" placeholder="First Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="lastName" class="text-danger">Last Name:</label>
						<input type="text" id="lastName" class="form-control" ng-model="contact.lastName" value="{{contact.lastName}}" placeholder="Last Name" required="true"/>
					</div>
					<div class="form-group">
						<label for="title" class="text-danger">Title:</label>
						<input type="text" id="title" class="form-control" ng-model="contact.title" value="{{contact.title}}" placeholder="title" required="true"/>
					</div>
					<div class="form-group">
						<label for="email" class="text-danger">Email:</label>
						<input type="text" id="email" class="form-control" ng-model="contact.email" value="{{contact.email}}" placeholder="Email" required="true"/>
					</div>
					<div class="form-group">
						<label for="phone" class="text-danger">Phone:</label>
						<div class="form-group">
							<select id="type" class="form-control" name="type" ng-model="contact.phone.type">
								<option value="mobile">mobile</option>
								<option value="home">home</option>
								<option value="work">work</option>
								<option value="main">main</option>
							</select>
							<input type="text" id="value" class="form-control" ng-model="contact.phone.value" value="{{contact.phone.value}}" placeholder="Main/Office Phone #" required="true"/>
					</div>
					<div class="well">
						<input type="submit" ng-click="update(contact)" class="btn btn-primary" value="Save"/>
						<input type="button" ng-click="reset()" class="btn btn-warning" value="Reset"/>
						<input type="button" ng-click="delete(contact.id)" class="btn btn-danger" value="Delete"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
